.maincontainer {
    display:flex;
    position:absolute;
    top:180px;
    left:0px;
    height:176px;
    width:1613.47px;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
}

.personalize {
    color:#707070;
    font-size:12px;
}

.whatare {
    color:#4a4a4a;
    font-size:34px;
    padding-bottom:30px;
}

.row {
    margin:0px;
    height:0px;
}

.container {
    flex:center;
}