<yumly-sidenavbar class = "fixed">Loading...</yumly-sidenavbar>
<div class="container contents">
    <div class="row">
        <div class="col-8">
            <form #postFood="ngForm" (ngSubmit)="addProduct(postFood.value)">

                <div class="input-group">
                    <span class="input-group-text">
                        Title:
                    </span>
                    <input type="text" class="form-control" ngModel name="text" required>
                </div>

                <div class="input-group">
                    <span class="input-group-text">
                        Image Path:
                    </span>
                    <input type="text" class="form-control" ngModel name="img">
                </div>

            <button class="btn mt-2 btn-add" type="submit" [disabled]="!postFood.valid">Add food page</button>

            </form>
        </div>
    </div>
</div>