.containedside {
    background-color:#fff;
    height:100vh;
    width:216px;
    position:relative;
    display:flex;
    box-sizing:border-box;
    z-index:5005;
    margin:0px;
}

.fixed {
    position:fixed;
}

.textcontainer {
    
    position:absolute;
    top:68px;
    left:13.05px;
    height:100vh;
    width:1551.45px;
}

.limitedspan {
    padding-left:500px;
    padding-right:500px;

}

.centered {
    text-align:center;
}

.maincontainer {
    left: 215.05px;
    position: relative;
    
    max-width:10000px;
    width:1539px;
    max-height:10000px;
    height:10000px;
}

.mainbackground {
    width:105.1%;
    height:auto;
}

.graytext {
    color:rgba(74, 74, 74);
}

.offset {
    margin-left: 30px;
}