<my-info></my-info>
<yumly-sidenavbar class = "fixed">Loading...</yumly-sidenavbar>
    <div class=maincontainer>
        <img src="/assets/banner-marble-bkg.jpg" img class="mainbackground" alt="background">
        
            <div class="textcontainer">
                <p class="h4 graytext offset">
                    Tags
                </p>
                <div class="offset">
                    <tagsbar></tagsbar>
                </div>
                <div class="offset">
                    <shrimp></shrimp>
                </div>
            </div>
    </div>