<yumly-sidenavbar class="fixed">Loading...</yumly-sidenavbar>
<div class=maincontainer>
    <img src="/assets/banner-marble-bkg.jpg" img class="mainbackground" alt="background">

    <div class="textcontainer">
        <div class="spacedown">
            <p class="h1 blacktext fw-bold">
                Cook with what you have
            </p>
        </div>

        <div class="d-flex flex-row bd-highlight mb-3 paragraph1">
            <div class="p-2 bd-highlight">
                Don't want to go to the store? No problem! Enter the ingredients you have on hand, and we'll show you
                recipes you could make. For best results, enter 10 or more ingredients below, including staples like salt,
                pepper, and olive oil. The ingredients you add here will sync with your Virtual Pantry on Android. Any
                changes in one will update the other.
            </div>
        </div>
    </div>
</div>