
<div class="main">
    <div>
        <a href="">
          <img src="/assets/yummly.svg" img class="yumly" alt="yumly">
        </a>
    </div>
</div>
<div class = "master">
  <div class = "app">
    <div class = "editors d-flex flex-row-reverse padding">
        <img src="/assets/mealplanner/google-editors-choice.f44f2b29.png" class = "p-2 bd-highlight editorpadding" alt="Editor's Choice">
        <img src="/assets/mealplanner/apple-editors-choice.38b62902.png" class = "p-2 bd-highlight editorpadding" alt="Editor's Choice">
    </div>
    <div class = "smartmeal d-flex">
      <div class = "smartbutton">
        <p class = "fs-1">
          Smart meal planning that fits your busy life
        </p>
        <a class="btn btn-primary rounded-pill d-flex align-items-center justify-content-around" href="#" role="button">Start Your Free Trial</a>
        <p class = "fs-6">
          Auto-renews at selected price after trial unless you cancel.
        </p>
      </div>
      <div class="scroller">
        <img class="screen" src="/assets/mealplanner/scroller/tablet-empty.c2b138b2.png">
        <div id="carouselExampleSlidesOnly" class="carousel slide screencontent" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p class="scrolltext">
                MON
              </p>
              <img src="/assets/mealplanner/scroller/monday.362ff656.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <p class="scrolltext">
                TUE
              </p>
              <img src="/assets/mealplanner/scroller/tuesday.3ad21ea6.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <p class="scrolltext">
                WED
              </p>
              <img src="/assets/mealplanner/scroller/wednesday.5353e0ec.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <p class="scrolltext">
                THU
              </p>
              <img src="/assets/mealplanner/scroller/thursday.c55a2ebf.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <p class="scrolltext">
                FRI
              </p>
              <img src="/assets/mealplanner/scroller/friday.f9543cc4.png" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div>
        <img class="imgfork" src="/assets/mealplanner/hand-fork.54e83d2c.png">
      </div>
    </div>  

  </div>
</div>