.containedside {
    background-color:#fff;
    height:100vh;
    width:216px;
    position:relative;
    display:flex;
    box-sizing:border-box;
    z-index:5005;
    margin:0px;
}

.fixed {
    position:fixed;
}

.contents {
    
    position:absolute;
    top:20px;
    left:218.05px;
    height:100vh;
    width:1611.45px;
}

.limitedspan {
    padding-left:500px;
    padding-right:500px;

}

.centered {
    text-align:center;
}

.shiftdown {
    padding-top:100px;
}