.container {
    left: 195.05px;
    position: relative;
    
    max-width:10000px;
    width:1539px;
    max-height:10000px;
    height:10000px;
}

.mainbackground {
    width:88.5vw;
    height:auto;
}

.topleftbackground {
    position:absolute;
    left:10px;
    top:0px;
    width:190px;
}

.toprightbackground {
    position:absolute;
    right:-290px;
    top:0px;
    max-width:75%;
}

.sidebackground {
    position:absolute;
    right:-273px;
    top:90px;
    max-width:75%;
}