.containedside {
    background-color:#fff;
    height:100vh;
    width:216px;
    position:relative;
    display:flex;
    box-sizing:border-box;
    z-index:5005;
    margin:0px;
}

.scrolltest {
    background-color:#f0f;
    height:125vh;
    width:216px;
    position:relative;
    box-sizing:border-box;
}

.fixed {
    position:fixed;
}

.contents {
    
    position:absolute;
    top:20px;
    left:218.05px;
    height:100vh;
    width:1611.45px;
}

.limitedspan {
    padding-left:500px;
    padding-right:500px;

}

.centered {
    text-align:center;
}

.circcontainer {
    width:150px;
    height:150px;
    text-align:center;
    padding-right:10px;
    padding-left:10px;
}

.circtext {
    position:relative;
    top: -52%;
    left: 0px;
    color:rgb(255, 255, 255);
    overflow:visible;
    text-decoration: none;
}

.foodcontainer {
    display:flex;
    position:absolute;
    top:280px;
    left:0px;
    height:276px;
    width:1613.47px;
}

