<div class = "containedside">
    
    <yumly-sidenavbar class = "fixed">Loading...</yumly-sidenavbar>
    <div class=container>
        <main-background></main-background>
        
        <div class = "content">
            <p>
                
                
            </p>
            
            <div class="input-group mb-3 limitedspan">
                <span class="input-group-text centered" id="basic-addon1">Search</span>
                <input type="text" class="form-control" placeholder="Search 2M+ recipes" aria-label="Search 2M+ recipes" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

