
<div>
  <a href="home">
    <img src="/assets/yummly.svg" img class="yumly" alt="yumly">
  </a>
</div>


<ul class="sidebar">

    

    <a class="btn fm" href="#" role="button">Sign Up / Log In</a>
    <p>

    </p>
    <li class="nav-item">
      <a class="nav-link listitem" aria-current="page" href="home">My Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link listitem" href="articles">Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link listitem" href="meal-planner">Meal Planner</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitem" href="pantry-ready-recipes">Pantry-Ready Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitem" href="browse">Browse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitem" href="pro-recipes">Pro Recipes</a>
    </li>
    <p>

    </p>

    <li class="nav-item">
        <a class="nav-link listitembold" href="#">SMART THERMOMETER</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitembold" href="#">SAVED RECIPES</a>
    </li>
    <li>
    <p></p>
    <li class="nav-item">
      <a class="nav-link listitemblue" href="#">NEW COLLECTIONS</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" aria-current="page" href="#">All Yums</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Breakfasts</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Desserts</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Dinners</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Drinks</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Sides</a>
    </li>
  </ul>

  <div class="bottomnav">
    <a class="listitem" href="#">Privacy </a>  
    <a class="listitem" href="#"> Terms </a>
    <a class="listitem" href="#"> Internet-Based Ads</a>
    <a class="nav-link listitem" href="#">Do Not Sell My Personal Information</a>

  </div>