
<div>
  <p>
    <img src="/assets/yummly.svg" img class="yumly" alt="yumly">
  </p>
</div>


<ul class="sidebar">

    

    <a class="btn fm" href="#" role="button">Sign Up / Log In</a>
    <p>

    </p>
    <li class="nav-item">
      <a class="nav-link listitem" aria-current="page" href="#">My Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link listitem" href="#">Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link listitem" href="#">Meal Planner</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitem" href="#">Pantry-Ready</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitem" href="#">Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitem" href="#">Browse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitem" href="#">Pro Recipes</a>
    </li>
    <p>

    </p>

    <li class="nav-item">
        <a class="nav-link listitembold" href="#">SMART THERMOMETER</a>
    </li>
    <li class="nav-item">
        <a class="nav-link listitembold" href="#">SAVED RECIPES</a>
    </li>
    <li>
    <p></p>
    <li class="nav-item">
      <a class="nav-link listitemblue" href="#">NEW COLLECTIONS</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" aria-current="page" href="#">All Yums</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Breakfasts</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Desserts</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Dinners</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Drinks</a>
    </li>
    <li class="nav-item">
      <img src="/assets/folder.svg"><a class="listitem" href="#">Sides</a>
    </li>
  </ul>

  <div class="bottomnav">
    <a class="listitem" href="#">Privacy </a>  
    <a class="listitem" href="#"> Terms </a>
    <a class="listitem" href="#"> Internet-Based Ads</a>
    <a class="nav-link listitem" href="#">Do Not Sell My Personal Information</a>

  </div>