<yumly-sidenavbar class="fixed">Loading...</yumly-sidenavbar>
<div class=maincontainer>
    <img src="/assets/banner-marble-bkg.jpg" img class="mainbackground" alt="background">

    <div class="textcontainer">
        <div>
            <p class="h2 blacktext fw-bold title1">
                Look who's back in our kitchen!
            </p>
        </div>

        <div class="d-flex flex-row bd-highlight mb-3 paragraph1">
            <div class="p-2 bd-highlight">
                Make nutritious vegetarian no-stresscipies with Elmo, Cookie Monster, and Joel Gamoran! Hang on to your
                chef's hat as you cook up a storm — for kids of all ages, including grownups.
            </div>
        </div>
    </div>
</div>