<yumly-sidenavbar class="fixed">Loading...</yumly-sidenavbar>
<div class=maincontainer>
  <img src="/assets/banner-marble-bkg.jpg" img class="mainbackground" alt="background">

    
        <div id="carouselExampleIndicators" class="carousel slide scrollcontainer" data-bs-ride="carousel">
          
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div>
                  <p class="h2 blacktext fw-bold title1">
                      Look who's back in our kitchen!
                  </p>
                </div>
      
                <div class="d-flex flex-row bd-highlight mb-3 paragraph1">
                  <div class="p-2 bd-highlight">
                      Make nutritious vegetarian no-stresscipies with Elmo, Cookie Monster, and Joel Gamoran! Hang on to your
                      chef's hat as you cook up a storm — for kids of all ages, including grownups.
                  </div>
                </div>
                <a class="btn btn-primary rounded-pill d-flex align-items-center justify-content-around" href="#" role="button">Watch Now</a>
                <div class="imgscroll">
                  <img class="scrollimg" src="/assets/browse/sesame-joel-hero-2x.webp">
                </div>
            </div>
            <div class="carousel-item">
              <div>
                <p class="h2 blacktext fw-bold title1">
                  Enjoy hassle-free cooking with the Yummly Meal Planner
                </p>
              </div>
    
              <div class="d-flex flex-row bd-highlight mb-3 paragraph1">
                <div class="p-2 bd-highlight">
                  <p>
                    Enter custom recipes and notes of your own
                  </p>
                  <p>
                  Monitor nutrition info to help meet your health goals
                  </p>
                  <p>
                  Easily add recipes from Yums to the Meal Planner
                  </p>
                </div>
              </div>
              <a class="btn btn-primary rounded-pill d-flex align-items-center justify-content-around" href="#" role="button">Check It Out</a>
              <div class="imgscroll_2">
                <img class="scrollimg_2" src="/assets/browse/meal-plan-page@2x.webp">
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <p class="h2 blacktext fw-bold title1">
                  Meat the Yummly Smart Thermometer
                </p>
              </div>
    
              <div class="d-flex flex-row bd-highlight mb-3 paragraph1">
                <div class="p-2 bd-highlight">
                  Introducing completely wireless, app-based cooking. Eliminate the guesswork and get the results you want, every time.
                </div>
              </div>
              <a class="btn btn-primary rounded-pill d-flex align-items-center justify-content-around" href="#" role="button">Learn More</a>
              <div class="imgscroll_3">
                <img class="scrollimg_3" src="/assets/browse/thermo-steak.webp">
              </div>
            </div>

            <div class="carousel-item">
              <div>
                <p class="h2 blacktext fw-bold title1">
                  Take the express lane
                </p>
              </div>
    
              <div class="d-flex flex-row bd-highlight mb-3 paragraph1">
                <div class="p-2 bd-highlight">
                  Yummly's Smart Shopping List sorts items by aisle to help you get in and out of the grocery store fast. Now available on web, phone, and tablet.
                </div>
              </div>
              <a class="btn btn-primary rounded-pill d-flex align-items-center justify-content-around" href="#" role="button">Try It Out</a>
              <div class="imgscroll_4">
                <img class="scrollimg_4" src="/assets/browse/shopping_list_banner.jpg">
              </div>
            </div>

            <div class="carousel-item">
              <div>
                <p class="h2 blacktext fw-bold title1">
                  Yummly’s food blog: Read all about it
                </p>
              </div>
              <div class="d-flex flex-row bd-highlight mb-3 paragraph1">
                <div class="p-2 bd-highlight">
                  Cooking tips and tricks, chef interviews, and our favorite recipes from the Yummly cooking crew and around the web!
                </div>
              </div>
              <a class="btn btn-primary rounded-pill d-flex align-items-center justify-content-around" href="#" role="button">Read More</a>
              <div class="imgscroll_5">
                <img class="scrollimg_5" src="/assets/browse/peach-salad.webp">
              </div>
            </div>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
        </div>
        
    </div>